@import '../global/variables';

header.head {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 0 0 $radius-xl $radius-xl;

  @include mobile {
    height: fit-content;
    border-radius: 0;
    &::after {
      background-color: transparent !important;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    border-radius: 0 0 $radius-xl $radius-xl;
    height: 11rem;
    background-color: $bg-white;
  }

  .nav-bar {
    @include flex-between;
    @include mobile {
      justify-content: space-around;
    }

    .left {
      @include flex-center;
      gap: 2rem;

      .logo img {
        width: 6rem;

        @include mobile {
          width: 5rem;
        }
      }

      .nav-bar__links {
        display: flex;
        gap: 1.8rem;
        align-items: center;

        li a {
          color: #777676;
          font-weight: bold;
          font-size: 1.8rem;
          padding: 0.6rem 1.2rem;
          border-radius: $radius-sm;
          transition: $transition-smooth;
          @include mobile {
            color: $text-white;
          }
          &:hover {
            color: $primary-dark;
          }

          &.active {
            color: $primary-dark;
            animation: glow 2s infinite;
          }
        }
      }
    }

    .right {
      @include flex-center;
      gap: 1rem;

      span.name {
        @include flex-center;
        width: 5rem;
        aspect-ratio: 1/1;
        font-size: 1.8rem;
        color: $text-white;
        background-color: $text-light-yellow;
        border-radius: $radius-circle;

        @include mobile {
          width: 4rem;
          font-size: 1.6rem;
        }
      }
    }

    .hamburger {
      display: none;
      width: 3.2rem;
      height: 2.4rem;
      position: relative;
      cursor: pointer;
      background-color: transparent;
      border: none;
      padding: 0;

      span {
        display: block;
        width: 100%;
        height: 3px;
        background: $text-light;
        border-radius: 3px;
        position: absolute;
        left: 0;
        transition: all 0.3s ease;

        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }
        &:nth-child(3) {
          bottom: 0;
        }
      }

      &.active {
        span:nth-child(1) {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
        span:nth-child(2) {
          opacity: 0;
          transform: scaleX(0);
        }
        span:nth-child(3) {
          bottom: 50%;
          transform: translateY(50%) rotate(-45deg);
        }
      }

      @include tablet {
        display: block;
      }
    }

    /* Mobile Menu */
    @include tablet {
      .nav-bar__links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: $primary-dark;
        padding: 2rem 0;
        gap: 2rem;
        transform: translateY(-200%);
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease;

        li a {
          color: $text-white;
          font-size: 2rem;
        }

        &.open {
          transform: translateY(0);
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }
}

// Start section CourseInfo
.section.courseInfo {
  .info__description {
    margin-top: 3rem;
    @include flex-between;
    flex-wrap: wrap;
    gap: 4rem;

    @include mobile {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }

    p {
      font-size: 3.5rem;
      color: $text-black;
      font-weight: 500;
      flex: 1;
      animation: slideInFromLeft 0.8s ease;

      @include tablet {
        font-size: 2.8rem;
      }

      @include mobile {
        font-size: 2rem;
      }
    }
    .info__img {
      border-radius: $radius-lg;
      width: 10%;
      height: 10%;
      aspect-ratio: 16 / 8;
      flex: 1;
      animation: slideInFromRight 0.8s ease;

      @include mobile {
        width: 80%;
        height: auto;
      }
    }
  }
}
// End section CourseInfo

// Start Section Instructor Info
.section.instructor {
  background-color: $bg-light;
  .card {
    background-color: $bg-white;
    border-radius: $radius-lg;
    padding: 3rem;
    box-shadow: $shadow-md;
    margin-top: 5rem;
    animation: fadeInUp 0.8s ease;

    @include mobile {
      padding: 2rem 0;
    }

    h4 {
      color: $primary-dark;
      font-size: 4.8rem;
      font-weight: 500;
      margin-bottom: 1rem;

      @include mobile {
        text-align: center;
        font-size: 3.6rem;
      }
    }
    .instructor__info {
      padding: 0 5rem;

      @include mobile {
        padding: 0;
        text-align: center;
      }

      .instructor__details {
        display: flex;
        align-items: center;
        gap: 2.5rem;

        @include mobile {
          flex-direction: column;
          gap: 1.5rem;
        }

        .instructor__img {
          width: 12rem;
          height: 12rem;
          border-radius: $radius-circle;
          object-fit: cover;
          margin-bottom: 1.5rem;

          @include mobile {
            width: 10rem;
            height: 10rem;
          }
        }

        h5 {
          font-size: 4.8rem;
          color: $primary-dark;
          font-weight: 500;

          @include mobile {
            font-size: 3.6rem;
          }
        }
      }

      .instructor__experiance,
      .instrictor__description {
        font-size: 1.8rem;
        color: $text-black;
        font-weight: 500;
        margin-top: 1rem;
        margin-left: 3rem;

        @include mobile {
          margin-left: 0;
          font-size: 1.6rem;
        }
      }
    }
  }
}
// End Section Instructor Info

// Start Sesction about
.section.about {
  background-color: $bg-light;
  .global--title {
    text-align: start;
    @include mobile {
      text-align: center;
    }
  }

  .about__descritpion {
    margin-top: 3rem;
    font-size: 3.5rem;
    color: $text-black;
    font-weight: 500;
    line-height: 1.6;
    @include flex-between;
    flex-wrap: wrap;
    gap: 2rem;

    @include tablet {
      font-size: 2.8rem;
    }

    @include mobile {
      font-size: 2rem;
      text-align: center;
    }
    > p {
      flex: 1;
      animation: slideDown 0.8s ease;
    }
  }
  .about__info {
    padding: 2rem;
    margin-top: 3rem;
    background-color: $bg-white;
    border-radius: $radius-lg;
    box-shadow: $shadow-md;
    font-size: 3rem;
    color: $text-black;
    font-weight: 500;
    line-height: 1.6;
    flex: 1;
    animation: fadeOutIn 0.8s ease;

    .about__price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid $bg-light;
      padding-bottom: 1rem;

      h4 {
        font-size: 4.8rem;
        color: $text-black;
        font-weight: 500;

        @include mobile {
          font-size: 3rem;
        }
      }

      p {
        font-size: 4.8rem;
        color: #ff0000;
        font-weight: 500;

        @include mobile {
          font-size: 3rem;
        }
      }
    }

    .about__stars {
      @include flex-between;
      justify-content: space-evenly;
      gap: 1rem;

      span:nth-child(1) {
        font-size: 2.4rem;
        color: #f5a623;

        @include mobile {
          font-size: 2rem;
        }
      }

      span:nth-child(2) {
        font-size: 1.8rem;
        color: $text-black;

        @include mobile {
          font-size: 1.6rem;
        }
      }
    }

    .about__info--details {
      margin-top: 2rem;
      line-height: 1.6;
      @include flex-between;
      gap: 1rem;

      .lessons,
      .duration,
      .level {
        margin-bottom: 1rem;
        @include flex-column;
        align-items: center;

        h4 {
          font-size: 2.4rem;
          font-weight: 500;
          color: #3f4548;
          margin-bottom: 1rem;

          @include mobile {
            font-size: 2rem;
          }
        }

        p {
          font-size: 1.6rem;
          color: $text-black;
          font-weight: 300;
        }
      }

      @include mobile {
        flex-direction: column;
      }
    }

    .features {
      margin-top: 1.5rem;
      text-align: center;

      @include mobile {
        @include flex-between;
      }

      span {
        display: inline-block;
        background-color: $bg-light;
        padding: 0.8rem 1.2rem;
        border-radius: $radius-xl;
        font-size: 2.4rem;
        color: #3f4548;
        font-weight: 500;
        color: $text-black;
        margin-right: 1.8rem;
        text-transform: capitalize;

        @include mobile {
          font-size: 1.2rem;
          padding: 0.4rem;
          margin: 0 auto;
        }
      }
    }
  }
}
// End Sesction about

// Start section curriculum
.curriculum {
  .global--title {
    text-transform: capitalize;
    text-align: start;
    @include mobile {
      text-align: center;
    }
  }

  .curriculum__details {
    animation: fadeInUp 0.8s ease;
    background-color: $bg-white;
    border-radius: $radius-lg;
    box-shadow: $shadow-md;
    margin-top: 3rem;
    padding: 3rem;

    .curriculum__item {
      margin-bottom: 2rem;

      &:not(:last-child) {
        border-bottom: 1px solid $bg-light;
        padding-bottom: 2rem;
      }
      @include flex-between;
      .title {
        flex: 1;
        h4 {
          font-size: 1.8rem;
          color: $text-light;
          font-weight: 500;
          margin-bottom: 1rem;

          @include mobile {
            font-size: 1.4rem;
          }
        }

        span {
          font-size: 1.2rem;
          color: $text-light;
          margin-left: 1rem;
        }
      }

      > span {
        font-size: 1.8rem;
        color: $text-light;
        font-weight: 500;
        line-height: 1.6;
        display: inline-block;
        margin: 0 auto;

        @include mobile {
          font-size: 1.4rem;
        }
      }
    }
  }
}
// End section curriculum

// Start section learn
.section.learn {
  .global--title {
    text-transform: capitalize;
    text-align: start;
    @include mobile {
      text-align: center;
    }
  }

  .learn__details {
    ul {
      margin-top: 3rem;

      li {
        font-size: 3.5rem;
        color: $text-black;
        font-weight: 500;
        margin-bottom: 2rem;
        list-style-type: disc;
        margin-left: 4rem;
        animation: slideInFromLeft 0.8s ease-out backwards;

        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            animation-delay: #{$i * 0.2}s;
          }
        }

        @include tablet {
          font-size: 2.8rem;
        }
        @include mobile {
          font-size: 1.7rem;
        }
      }
    }
  }
}
// End section learn

// Start Section reviews
.reviews {
  .global--title {
    text-transform: capitalize;
    text-align: start;
    @include mobile {
      text-align: center;
    }
  }

  .reviews__details {
    margin-top: 3rem;
    background-color: $bg-white;
    gap: 2rem;
    border-radius: $radius-lg;
    box-shadow: $shadow-md;
    display: flex;
    flex-direction: column;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }

    .review__item {
      padding: 2rem 2.5rem;
      flex: 1;
      min-width: 30%;
      animation: slideInFromRight 0.8s ease-out backwards;
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          animation-delay: #{$i * 0.3}s;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid $bg-light;
      }

      @include mobile {
        min-width: 80%;
        margin-left: 0;
      }

      .review__header {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        position: relative;
        gap: 1.5rem;

        .review__img {
          width: 6rem;
          height: 6rem;
          border-radius: $radius-circle;
          object-fit: cover;
        }

        .review__info {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .review-name {
            font-size: 1.8rem;
            color: $primary-dark;
            font-weight: 600;
            margin: 0;

            @include mobile {
              font-size: 1.6rem;
            }
          }

          .review__rating {
            display: flex;
            gap: 0.3rem;

            .star {
              color: #ffd700;
              font-size: 1.6rem;

              @include mobile {
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }

    .review-say {
      font-size: 1.6rem;
      color: $text-black;
      font-weight: 400;
      line-height: 1.6;
      margin: 0;

      @include tablet {
        font-size: 1.5rem;
      }

      @include mobile {
        font-size: 1.4rem;
      }
    }
  }
}
// End Section reviews
